.header{
    text-align: center;
    padding:20px;
    margin:10px auto;
}

.msg, .err-msg, .loading{
    font-size:18px;
    margin:0 auto;
    width:20%;
    background-color: aliceblue;
    padding:10px;
    text-align: center;
    color:#aaaaaa
}

.loading{
    background-color: rgb(161, 255, 181);
}

.err-msg{
    background-color: rgb(255, 255, 161);
    color: rgb(175, 75, 75);
}

.search-box{
    width:40%;
    color:rgb(94, 94, 94);
    padding:10px;
    font-size: large;
    border-radius: 4px;
    border:none;
    background-color: rgba(32, 178, 171, 0.377);
    outline:none;
}

.header button{
    color:white;
    border-radius: 4px;
    border:none;
    padding:10px;
    font-size: large;
    outline:none;
    cursor: pointer;
    background-color: rgb(32, 178, 171);
}
.header button:active{
    background-color: rgb(224, 224, 224);
}